body {
    margin: 0;
}

main img {
    width: 270px;
    
}

.MainTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    
}

.lenguaje1 {
    